<div id="calendar-demo">
  <div class="widget-container">
    <table>
      <tr>
        <td class="month">
          <dx-calendar #month0
                       maxZoomLevel="month"
                       id="calendar-container0"
                       [firstDayOfWeek]="firstDay"
                       [min]="calendar.monthStart0"
                       [max]="calendar.monthEnd0"
                       [(value)]="calendar.month"
                       [cellTemplate]="cellTemplate">
                      <span *dxTemplate="let cell of 'custom'" [ngClass]="getCellCssClass(cell.date)">
                          {{cell.text}}
                      </span>
          </dx-calendar>
        </td>
        <td class="month">
          <dx-calendar #month1
                       maxZoomLevel="month"
                       id="calendar-container1"
                       [firstDayOfWeek]="firstDay"
                       [min]="calendar.monthStart1"
                       [max]="calendar.monthEnd1"
                       [(value)]="calendar.month"
                       [cellTemplate]="cellTemplate">
                      <span *dxTemplate="let cell of 'custom'" [ngClass]="getCellCssClass(cell.date)">
                          {{cell.text}}
                      </span>
          </dx-calendar>
        </td>
        <td class="month">
          <dx-calendar #month2
                       maxZoomLevel="month"
                       id="calendar-container2"
                       [firstDayOfWeek]="firstDay"
                       [min]="calendar.monthStart2"
                       [max]="calendar.monthEnd2"
                       [(value)]="calendar.month"
                       [cellTemplate]="cellTemplate">
                      <span *dxTemplate="let cell of 'custom'" [ngClass]="getCellCssClass(cell.date)">
                          {{cell.text}}
                      </span>
          </dx-calendar>
        </td>
        <td class="month">
          <dx-calendar #month3
                       maxZoomLevel="month"
                       id="calendar-container3"
                       [firstDayOfWeek]="firstDay"
                       [min]="calendar.monthStart3"
                       [max]="calendar.monthEnd3"
                       [(value)]="calendar.month"
                       [cellTemplate]="cellTemplate">
                      <span *dxTemplate="let cell of 'custom'" [ngClass]="getCellCssClass(cell.date)">
                          {{cell.text}}
                      </span>
          </dx-calendar>
        </td>
      </tr>
      <tr>
        <td class="month">
          <dx-calendar #month4
                       maxZoomLevel="month"
                       id="calendar-container4"
                       [firstDayOfWeek]="firstDay"
                       [min]="calendar.monthStart4"
                       [max]="calendar.monthEnd4"
                       [(value)]="calendar.month"
                       [cellTemplate]="cellTemplate">
                      <span *dxTemplate="let cell of 'custom'" [ngClass]="getCellCssClass(cell.date)">
                          {{cell.text}}
                      </span>
          </dx-calendar>
        </td>
        <td class="month">
          <dx-calendar #month5
                       maxZoomLevel="month"
                       id="calendar-container5"
                       [firstDayOfWeek]="firstDay"
                       [min]="calendar.monthStart5"
                       [max]="calendar.monthEnd5"
                       [(value)]="calendar.month"
                       [cellTemplate]="cellTemplate">
                      <span *dxTemplate="let cell of 'custom'" [ngClass]="getCellCssClass(cell.date)">
                          {{cell.text}}
                      </span>
          </dx-calendar>
        </td>
        <td class="month">
          <dx-calendar #month6
                       maxZoomLevel="month"
                       id="calendar-container6"
                       [firstDayOfWeek]="firstDay"
                       [min]="calendar.monthStart6"
                       [max]="calendar.monthEnd6"
                       [(value)]="calendar.month"
                       [cellTemplate]="cellTemplate">
                      <span *dxTemplate="let cell of 'custom'" [ngClass]="getCellCssClass(cell.date)">
                          {{cell.text}}
                      </span>
          </dx-calendar>
        </td>
        <td class="month">
          <dx-calendar #month7
                       maxZoomLevel="month"
                       id="calendar-container7"
                       [firstDayOfWeek]="firstDay"
                       [min]="calendar.monthStart7"
                       [max]="calendar.monthEnd7"
                       [(value)]="calendar.month"
                       [cellTemplate]="cellTemplate">
                      <span *dxTemplate="let cell of 'custom'" [ngClass]="getCellCssClass(cell.date)">
                          {{cell.text}}
                      </span>
          </dx-calendar>
        </td>
      </tr>
      <tr>
        <td class="month">
          <dx-calendar #month8
                       maxZoomLevel="month"
                       id="calendar-container8"
                       [firstDayOfWeek]="firstDay"
                       [min]="calendar.monthStart8"
                       [max]="calendar.monthEnd8"
                       [(value)]="calendar.month"
                       [cellTemplate]="cellTemplate">
                      <span *dxTemplate="let cell of 'custom'" [ngClass]="getCellCssClass(cell.date)">
                          {{cell.text}}
                      </span>
          </dx-calendar>
        </td>
        <td class="month">
          <dx-calendar #month9
                       maxZoomLevel="month"
                       id="calendar-container9"
                       [firstDayOfWeek]="firstDay"
                       [min]="calendar.monthStart9"
                       [max]="calendar.monthEnd9"
                       [(value)]="calendar.month"
                       [cellTemplate]="cellTemplate">
                      <span *dxTemplate="let cell of 'custom'" [ngClass]="getCellCssClass(cell.date)">
                          {{cell.text}}
                      </span>
          </dx-calendar>
        </td>
        <td class="month">
          <dx-calendar #month10
                       maxZoomLevel="month"
                       id="calendar-container10"
                       [firstDayOfWeek]="firstDay"
                       [min]="calendar.monthStart10"
                       [max]="calendar.monthEnd10"
                       [(value)]="calendar.month"
                       [cellTemplate]="cellTemplate">
                      <span *dxTemplate="let cell of 'custom'" [ngClass]="getCellCssClass(cell.date)">
                          {{cell.text}}
                      </span>
          </dx-calendar>
        </td>
        <td class="month">
          <dx-calendar #month11
                       maxZoomLevel="month"
                       id="calendar-container11"
                       [firstDayOfWeek]="firstDay"
                       [min]="calendar.monthStart11"
                       [max]="calendar.monthEnd11"
                       [(value)]="calendar.month"
                       [cellTemplate]="cellTemplate">
                      <span *dxTemplate="let cell of 'custom'" [ngClass]="getCellCssClass(cell.date)">
                          {{cell.text}}
                      </span>
          </dx-calendar>
        </td>
      </tr>
    </table>
  </div>
  <div class="options">
    <div class="caption">Options</div>
    <div class="option">
      <dx-check-box
        text="Use the Custom Cell Template"
        [value]="false"
        (onValueChanged)="useCellTemplate($event)">
      </dx-check-box>
    </div>
    <div class="option">
      <span style="line-height: 200%;">Selected year</span>
      <dx-select-box
        id="selected-year"
        width="100%"
        [dataSource]="years"
        [(value)]="calendar.currentYear">
      </dx-select-box>
      <span style="line-height: 200%;">Selected month</span>
      <dx-select-box
        [dataSource]="months"
        valueExpr="value"
        displayExpr="name"
        [(value)]="calendar.currentMonth">
      </dx-select-box>
    </div>
  </div>
</div>
